body {
  font-family: 'DomaineText-Regular';
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-bottom: none;
  border-top: 1px solid #000;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  margin: 0 1rem 1rem 1rem;
}

section {
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

form {
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 400px;
  }
}

input {
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

dl {
  margin: 0.5rem 0;
}

code {
  background: #ddd;
  border-radius: 4px;
  font-family: monospace;
  padding: 0.25rem;
}



/*
* --------------------------------------------------
* fonts
* --------------------------------------------------
*/

@font-face {
  font-display: swap;
  font-family: "Domaine Display";
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineDisp-Regular.otf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Domaine Display";
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineDisp-Medium.otf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Domaine Text";
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineText-Light.otf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Domaine Text";
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineText-Regular.otf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Domaine Text";
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineText-Medium.otf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Domaine Text";
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.shopify.com/s/files/1/0150/6262/files/DomaineText-Bold.otf) format("truetype")
}

body,html {
  font-family: "Domaine Text"
}

h1,h2,h3,h4,h5,h6 {
  color: #2d2a24;
  font-family: "Domaine Display";
  letter-spacing: -.01em;
  line-height: 110%
}

h1 {
  font-size: 68px
}

h2 {
  font-size: 60px
}

h3 {
  font-size: 56px
}

h1.article__title,h4 {
  font-size: 48px
}

h5 {
  font-size: 42px
}

h1.main-product-title,h6 {
  font-size: 36px
}

a,li,p,span {
  color: #2d2a24;
  font-family: "Domaine Text";
  font-size: 16px;
  line-height: 150%
}

@media(max-width: 480px) {
  h1 {
      font-size:42px
  }

  h2 {
      font-size: 36px
  }

  h3 {
      font-size: 32px
  }

  h1.article__title,h4 {
      font-size: 28px
  }

  h5 {
      font-size: 24px
  }

  h1.main-product-title,h6 {
      font-size: 21px
  }
}

@media(min-width: 480px)and (max-width:1024px) {
  h1 {
      font-size:45px
  }

  h2 {
      font-size: 41px
  }

  h3 {
      font-size: 37px
  }

  h1.article__title,h4 {
      font-size: 33px
  }

  h5 {
      font-size: 29px
  }

  h1.main-product-title,h6 {
      font-size: 25px
  }
}